@charset "utf-8";
/*CSS document*/
/*reset*/
body, div, p, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, tr, td, tbody, thead, span, em, strong, i,img, input, textarea, button,select, option{padding: 0;margin: 0;}
body{background-color: #f8f8f9;font-size: 14px;font-family: "微软雅黑";}
li{list-style:none;}
img{border:none;}
a{text-decoration:none; color:#000000;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;} /*针对IE6*/
input,button,select,textarea{outline:none;border:none; background:none;}

/*顶部*/
#top{ height: 40px;width: 100%;}
#top div{height: 40px;line-height: 40px;}
#top .top-content{margin:0 auto;width: 1000px;}
.laba{margin-right: 9px;}
.shengqing{color: #868686;text-decoration: none;}
.shoulu{color: #d44d4e;}

/*搜索导航*/
#nav{width:100%;height: 110px;background-color: #fff;}
.nav-content{width: 1002px;margin:0 auto;}
.logo{padding:25px 0;margin-right: 60px;}
.search-box{padding-top:25px;}
.search-box input, .search-box button{display: inline-block;height: 43px;line-height: 43px;border: 1px solid #dedee3;}
.search-box input{width: 497px;padding: 0 10px;}
.search-box button{background-color: #203660;color: #fff;padding: 0 29px ;margin-right: 30px;font-size: 18px;}

/*主体区域*/
.main{width: 1002px;margin:0 auto;background-color: #fff;padding: 11px 25px;}
.search-item{margin-top: 23px;}
.search-menu {border-bottom: 2px solid #203761;}
.search-menu>li{position: relative; display: inline-block;}
.search-menu>li>a{display: inline-block;height: 37px;line-height: 37px;padding:0 24px;text-align: center;border:1px solid #203761;border-top-right-radius: 4px;border-top-left-radius: 4px;background-color: #203761;color: #fff;font-size: 18px;font-weight: normal;}
.search-menu .submenu{ width:120px; border:1px solid #203761;background-color: #fff;padding: 8px 0 11px;display: none;position: absolute; top: 39px; left: 0;}
.search-menu .submenu li{margin: 5px 0;height: 25px;line-height: 25px;text-align: center;color: #707070;}
.search-menu>li:hover .submenu{display: block;}
.search-menu .submenu li:hover{background-color:#bdd0f3;color: #203660;}
.option{margin-top: 20px;height: 56px;line-height: 56px;background-color: #e7eaf1;}
.option select{width: 111px; height: 24px;border:1px solid #b4cbf4;padding: 0 9px;background-color: #fff;color: #babcc1;}
.option select option{color: #000;}
.option form{margin-left: 40px;}
.result{margin-top: 3px;margin-right: 15px;}
.result h4{width: 100%;}
.result h4 span{display: inline-block;height: 40px;line-height: 40px;font-size: 16px;color: #142c58;border-bottom: 1px solid #203761;}
.result h4 .more{text-align: right;margin-left:20px;width:818px;border-bottom:1px solid #d2d4d9;}
.result h4 .more a{font-size: 14px;color: #999;}
.result-list{margin-top: 20px;}
.result-list li{height: 30px;float: left;margin-right: 55px;}
.result-list li a:hover{border-bottom: 1px solid #e7a7a8;color: #ce1c1d;}

/*底部区域*/
.footer{background-color: #575757;width: 100%;}
.footer-content{width: 1002px;margin:0 auto;text-align: center;color:#b0b0b0;padding-top: 15px;}
.footer-content p{height: 22px;line-height: 22px;font-size: 14px;}
.footer-content i{font-style: normal;margin:0 6px;}
.footer-content p a{display: inline-block;color:#b0b0b0;}
.footer-content .link {margin:0 16px;}
.footer-content .link i{display: inline-block;width: 400px;border-bottom: 1px solid #787676;height: 11px;vertical-align: top;}
.footer-content .web{height: auto;padding:5px 0 23px;}
.footer-content .web img{margin-right: 15px;}
